html
  head
    title Hot landing
    link(rel="stylesheet" href="assets/styles/vendors.min.css")
    link(rel="stylesheet" href="assets/styles/main.min.css")
  body
    |ready for develop! :)

    script(src="assets/scripts/vendors.min.js")
    script(src="assets/scripts/main.min.js")
